
@{
    ViewBag.Title = "SinAcceso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>To-do CRUD</title>
</head>
<body>
    <h5>Comuniquese con un administrador para tener acceso a los módulos del sistema.</h5>
    <hr />
    <form class="user">
        <div class="form-group">
            <label>DNI:</label>
            <input type="text" class="form-control form-control-user" id="dniRegister" readonly>
        </div>
        <div class="form-group">
            <label>Código:</label>
            <input type="text" class="form-control form-control-user" id="codeRegister" readonly>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label>Nombre:</label>
                <input type="text" class="form-control form-control-user" id="nameRegister" readonly>
            </div>
            <div class="col-sm-6">
                <label>Apellido:</label>
                <input type="text" class="form-control form-control-user" id="lastNRegister" readonly>
            </div>
        </div>
        <div class="form-group">
            <label>Correo electrónico:</label>
            <input type="email" class="form-control form-control-user" id="correoRegister" readonly>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <label>Genero:</label>
                <input type="text" class="form-control form-control-user" maxlength="1" readonly
                       id="genderRegister">
            </div>
            <div class="col-sm-6">
                <label>Número celular:</label>
                <input type="text" class="form-control form-control-user" maxlength="9" readonly
                       id="celRegister">
            </div>
        </div>
        <div class="form-group">
            <label>Contraseña:</label>
            <div class="input-group">
                <input type="password" class="form-control form-control-user" id="passRegister">
                <div class="input-group-append">
                    <span class="input-group-text" id="togglePassword">
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
    </form>
    <script src="~/Scripts/App/Usuarios.js" asp-append-version="true"></script>
    <script type="text/javascript">
        const dniUser = localStorage.getItem('dniUser'); // Obtener dniUser de localStorage
        mostrarRegistrado(dniUser); // Pasar codigoUsuario a la función
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#togglePassword').click(function () {
                const passwordField = $('#passRegister');
                const passwordFieldType = passwordField.attr('type');

                if (passwordFieldType === 'password') {
                    passwordField.attr('type', 'text');
                    $('#togglePassword i').removeClass('fa-eye').addClass('fa-eye-slash');
                } else {
                    passwordField.attr('type', 'password');
                    $('#togglePassword i').removeClass('fa-eye-slash').addClass('fa-eye');
                }
            });
        });
    </script>

</body>
</html>
