
@{
    ViewBag.Title = "Ciudadano";
    Layout = "~/Views/Administrador/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DriveEase-Administardor</title>
    <link href="~/Theme/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="~/Theme/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Theme/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body>
    <div class="form-group row">
        <div class="col-sm-8 mb-3 mb-sm-0">
            <label>DNI:</label>
            <input type="text" class="form-control form-control-user" id="IdCiudadano">
        </div>
        <div class="col-sm-3" id="addBotton">
            <br />
            <a class="btn btn-primary btn-user btn-block" onclick="addCiudadano()">
               HOLA MUNDO!
            </a>
        </div>
        <div class="col-sm-3" id="editBotton">
            <br />
            <a class="btn btn-success btn-user btn-block" onclick="updateCiudadano()">
                Editar
            </a>
        </div>
        <div class="col-sm-1" id="addBotton">
            <br />
            <a onclick="closeInput()" aria-label="Close">&#10006;</a>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <label>Nombre:</label>
            <input type="text" class="form-control form-control-user" id="Nombre">
        </div>
        <div class="col-sm-6">
            <label>Apellido:</label>
            <input type="text" class="form-control form-control-user" id="Apellido">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <label>Fecha Nacimiento:</label>
            <input type="text" class="form-control form-control-user" id="FechaNacimiento" >
        </div>
        <div class="col-sm-6">
            <label>Edad:</label>
            <input type="text" class="form-control form-control-user" id="Edad">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4 mb-3 mb-sm-0">
            <label>Genero:</label>
            <input type="text" class="form-control form-control-user" maxlength="1" placeholder="F o M"
                   id="Genero">
        </div>
        <div class="col-sm-4">
            <label>Número celular:</label>
            <input type="text" class="form-control form-control-user" maxlength="9"
                   id="Celular">
        </div>
        <div class="col-sm-4">
            <label>Tipo de sangre:</label>
            <input type="text" class="form-control form-control-user" maxlength="2"
                   id="TipoSang">
        </div>
    </div>
    <div class="form-group">
        <label>Dirección:</label>
        <input type="text" class="form-control form-control-user" id="Direccion">
    </div>
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-4">
                <h6 class="m-0 font-weight-bold text-primary">Listado de ciudadanos</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>DNI</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Fecha Nacimiento</th>
                                <th>Edad</th>
                                <th>Genero</th>
                                <th>Direccion</th>
                                <th>Celular</th>
                                <th>Tipo Sanguineo</th>
                                <th>Editar Registro</th>
                                <th>Eliminar Registro</th>
                            </tr>
                        </thead>
                        <tbody id="DetCiudadanos"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/Theme/vendor/jquery/jquery.min.js"></script>
    <script src="~/Theme/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Theme/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Theme/js/sb-admin-2.min.js"></script>

    <script src="~/Scripts/App/Ciudadano.js" asp-append-version="true"></script>
    <script type="text/javascript">
        getCiudadanos();
        closeInput();
    </script>
</body>
</html>
